/* You can add global styles to this file, and also import other style files */
:root {
    --red-color: #ef5350;
    --white-color: #fef4f4;
    --black-color: #263238;
    --font-size: 16px;
}

*{
    clear: both;
    margin: 0;
    font-family: sans-serif;
}

ul {
    text-align: left;
}

li {
    list-style-type: none;
}